page-daily-data-updates {
    #results {
        table-layout: fixed;
        border-collapse: collapse;
    }

    #results td {
        border: none;
    }

    .wrapper {
        display: grid;
        grid-template-columns: 50px, 1fr;
        grid-gap: 10px;
        grid-auto-rows: minmax(20px, auto);
    }

    .item-label {
        color: #777;
		grid-column: 1/2;
		text-align: right;
		padding-top: 13px;
	}
	
	.item-content {
		grid-column: 2/2;
	}

	ion-input, ion-textarea {
		border: 1px solid #AAA;
		border-radius: 8px;
		box-shadow: 2px 2px 4px #CCC inset;
		background-color: #FBFBFB;
	}

	contentText, textarea {
		min-height: 125px;
		height: 125px;
	}

	.disabled-input {
		box-shadow: 2px 2px 4px #AAA inset;
		background-color: #DEDEDE;
		color: #000;
		font-weight: bold;
	}
}
